<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cooltimetrip.project.dao.IRentDAO">
	<!-- resultmap -->
	<resultMap id="carResult" type="com.cooltimetrip.project.model.CarVO" >
		<result property="carNo" column="carNo"/>
		<result property="carName" column="carName"/>
		<result property="carType" column="carType"/>
		<result property="carPrice" column="carPrice"/>
		<result property="carCount" column="carCount"/>
		<result property="carYear" column="carYear"/>
		<result property="carFuel" column="carFuel"/>
		<result property="carSeater" column="carSeater"/>
		<result property="carGear" column="carGear"/>
		<result property="carNav" column="carNav"/>
		<result property="carBluetooth" column="carBluetooth"/>
		<result property="carBlackbox" column="carBlackbox"/>
		<result property="carStroller" column="carStroller"/>
		<result property="carBabySeat" column="carBabySeat"/>
		<result property="carImgNo" column="carImgNo"/>
		<result property="rentNo" column="rentNo"/>
	</resultMap>
	
	<!-- 전체 car 조회  -->
	<select id="listAllCar" resultMap="carResult">
		SELECT * FROM car C INNER JOIN rent R ON R.rentNo = C.rentNo ORDER BY carCount
	</select>
	
	<!--  상품 상세 정보 조회 -->
	<select id="detailViewCar" parameterType="int" resultType="com.cooltimetrip.project.model.CarVO">
		SELECT * FROM car C INNER JOIN rent R ON R.rentNo = C.rentNo WHERE carNo = #{carNo}
	</select>
	
	<!-- 마이페이지에 추가 / booked_rent_no는 자동 증가 -->
	<insert id="insertBookedRentInfo" parameterType="com.cooltimetrip.project.model.BookedRentVO">
		INSERT INTO booked_rent (carNo, memId, bookDateRange)
		VALUES(#{carNo}, #{memId}, #{bookDateRange})
	</insert>
	
	<!-- 마이페이지에 예약 렌트카 불러오기 -->	
	<select id="listBookedCar" parameterType="string" resultType="com.cooltimetrip.project.model.BookedRentVO">
		SELECT * FROM booked_rent BR
			INNER JOIN car C ON C.carNo = BR.carNO
			INNER JOIN Rent R ON R.rentNo = C.rentNo
		WHERE BR.memId = #{memId}
		ORDER BY BR.booked_rent_no
	</select>

</mapper>