<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cooltimetrip.project.dao.IBookedFlightDAO">
  
  	<insert id="insertFlight" parameterType="com.cooltimetrip.project.model.BookedFlightVO" >
  		INSERT INTO booked_flight (dep_airline,dep_flight_no,dep_start_time,dep_end_time,dep_start_city,dep_end_city,dep_during_time,arr_airline,arr_flight_no,arr_start_time,arr_end_time,arr_start_city,arr_end_city,arr_during_time,daterange,personCount,charge_flight,charge_fuel,charge_tax,charge_ticket,charge_total,memId)
  		VALUES(#{dep_airline},#{dep_flight_no},#{dep_start_time},#{dep_end_time},#{dep_start_city},#{dep_end_city},#{dep_during_time},#{arr_airline},#{arr_flight_no},#{arr_start_time},#{arr_end_time},#{arr_start_city},#{arr_end_city},#{arr_during_time},#{daterange},#{personCount},#{charge_flight},#{charge_fuel},#{charge_tax},#{charge_ticket},#{charge_total},#{memId})
  	</insert>
  
  	<select id="bookedList" parameterType="string" resultType="com.cooltimetrip.project.model.BookedFlightVO">
  		SELECT * FROM booked_flight WHERE memId = #{memId}
  	</select>
  
  	<delete id="deleteFlight" parameterType="int">
  		DELETE * FROM booked_flight WHERE booked_flight_no = #{booked_flight_no}
  	</delete>
  	
  </mapper>