<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cooltimetrip.project.dao.IHotelDAO">
  	<resultMap id="hotelResult" type="com.cooltimetrip.project.model.HotelVO">
  		<result property="hotelNo" column="hotelNo"/>
  		<result property="hotelName" column="hotelName"/>
  		<result property="hotelGrade" column="hotelGrade"/>
  		<result property="hotelAddress" column="hotelAddress"/>
  		<result property="hotelAssesment" column="hotelAssesment"/>
  		<result property="hotelLocation" column="hotelLocation"/>
  		<result property="hotelContact" column="hotelContact"/>
  		<result property="hotelRule" column="hotelRule"/>
  		<result property="hotelTime" column="hotelTime"/>
  		<result property="roomT" column="roomT"/>
  		<result property="roomD" column="roomD"/>
  	</resultMap>
  	
  	<!-- 호텔 전체 조회 -->
  	<select	id="listAllHotel" resultMap="hotelResult">
  		SELECT * FROM hotel H INNER JOIN room1 T ON T.roomT = H.roomT ORDER BY H.hotelNo 
  	</select>
  	
  	<!-- 호텔 상세화면 -->
  	<select id="viewDetailRoom" parameterType="string" resultType="com.cooltimetrip.project.model.HotelVO">
  		SELECT * FROM hotel H
		INNER JOIN room1 T ON T.roomT = H.roomT
	    INNER JOIN room2 D ON D.roomD = H.roomD
	    WHERE H.hotelNo=#{hotelNo}
  	</select>
  	</mapper>
  
  	
  
 