@charset "UTF-8";

/* 숙박 검색 후 리스트 CSS */
.sec_search_list{
  width: 100%;
  height: 130px;
  background-color: #48A0FF;
}

.sec_search_list .div_list_tlt{
  display: block;
  width:1320px;
  margin: 0 auto;
  padding: 18px 20px 10px;
  color: #FFFFFF;
  font-size:18px;
  font-weight: 600;
}

.sec_search_list .div_lod_list_search .wrap_search_input{
  display: flex;
  justify-content: space-between;
}

.sec_search_list .div_lod_list_search .wrap_search_input .txt_stay{
  padding: 15px 50px;
  border: 0;
  border-radius: 10px;
  background-color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  outline: none;
}

.sec_search_list .div_lod_list_search .wrap_search_input #lodListSearchBtn{
  width: 440px;
}

.sec_search_list .div_lod_list_search .wrap_search_input #lodListDatepicker{
  width: 390px;
}

.sec_search_list .div_lod_list_search .wrap_search_input #lodListPersonCount{
  width: 290px;
}

.sec_search_list .div_lod_list_search .wrap_search_input .btn_search_stay{
  width: 130px;
  height: 63px;
  border: 0;
  border-radius: 10px;
  background-color: #FBDB03;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 63px;
  outline: none;
}


.sec_search_list .div_lod_list_search .wrap_search_input .txt_stay_placeholder{
  color: #CCCCCC;
}

/* 검색 팝업 */
/* popup_lod */
.sec_search_list .popup_lod{
  display: none;
  position: absolute;
  top: 311px;
  width: 690px;
  height: 733px;

  padding:50px 70px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 3px 3px 18px #0003;
  z-index: 1;
}

.sec_search_list .popup_lod .tlt_popup_lod{
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
}

.sec_search_list .popup_lod>i{
  float: right;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}

.sec_search_list .popup_lod .div_popup_search{
  margin: 20px 0 20px;
}

.sec_search_list .popup_lod .div_popup_search .input_popup_search{
  width: 408px;
  padding: 14px 30px;
  border: 1px solid #BBBBBB;
  font-size: 20px;
  font-weight: 400;
}

.sec_search_list .popup_lod .div_popup_search .input_popup_search:focus{
  outline: none;
  border: 1px solid #48A0FF!important;
}

.sec_search_list .popup_lod .div_popup_search .input_popup_search::placeholder{
  color: #AAAAAA;
}

.sec_search_list .popup_lod .div_popup_search .btn_popup_search{
  margin-left: -4px;
  padding: 14px 35px;
  color:#ffffff;
  border: 1px solid #48A0FF;
  font-size: 20px;
  font-weight: 600;
  background-color: #48A0FF;
}

.sec_search_list .popup_lod .tlt_list_lod{
  display: inline-block;
  margin: 20px 0 10px;
  font-size: 18px;
  font-weight: 400;
}

.sec_search_list .popup_lod .list_location{
  display: flex;
  height: 78px;
  border-bottom: 1px solid #DDDDDD;
}

.sec_search_list .popup_lod .list_location>i{
  display: inline-block;
  width: 70px;
  padding-left: 20px;
  font-size: 27px;
  color:#48A0FF;
  line-height: 78px;
}

.sec_search_list .popup_lod .list_location .div_txt_location{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec_search_list .popup_lod .list_location .div_txt_location .txt_location_main{
  font-size: 22px;
  font-weight: 500;
}

.sec_search_list .popup_lod .list_location .div_txt_location .txt_location_sub{
  color: #999999;
  font-size: 17px;
  font-weight: 200;
}

/* 인원 팝업 */
/* popup_person */
.sec_search_list .popup_person{
  display: none;
  position: absolute;
  top: 310px;
  width: 433px;
  height: 288px;
  margin-left: 848px;
  padding: 50px 55px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 3px 3px 18px #0003;
  z-index: 2;
}

.sec_search_list .popup_person .tlt_popup_person{
  display: inline-block;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 600;
}

.sec_search_list .popup_person>i{
  float: right;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;;
}

.sec_search_list .popup_person .div_person_count{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}

.sec_search_list .popup_person .div_person_count .box_txt_person{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec_search_list .popup_person .div_person_count .box_txt_person .txt_person_main {
  font-size: 22px;
  font-weight: 400;
}

.sec_search_list .popup_person .div_person_count .box_txt_person .txt_person_sub{
  color: #BBBBBB;
  font-size: 14px;
  font-weight: 400;
}

.sec_search_list .popup_person .div_person_count .box_plus_minus{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sec_search_list .popup_person .div_person_count .box_plus_minus .btn_popup_count{
  width: 46px;
  height: 46px;
  border: 2px solid #BBBBBB;
  border-radius: 50px;
  color: #BBBBBB;
  font-size: 36px;
  font-weight: 200;
  text-align: center;
  line-height: 38px;
}

.sec_search_list .popup_person .div_person_count .box_plus_minus a.btn_count_active{
  border: 2px solid #48A0FF;
  color: #48A0FF;
}

.sec_search_list .popup_person .div_person_count .box_plus_minus .popup_count_person{
  display: inline-block;
  width: 60px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.lod_list_datepicker{
  width: 890px;
  margin-left: 0;
  margin-top: 18px;
  border-radius: 15px;
  border: none;
  box-shadow: 3px 3px 18px #0002;
}

/* 검색 필터 */
.wrap_result{
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.sec_filter{
  width: 220px;
  margin-top: 60px;
}

.sec_filter .wrap_map_btn{
  position: relative;
}

.sec_filter .wrap_map_btn img{
  width: 100%;
  border-radius: 5px;
  filter: brightness(80%);
}

.sec_filter .wrap_map_btn span{
  position: absolute;
  top: 0;
  display: block;
  width: 220px;
  height: 66px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 66px;
}

.sec_filter .wrap_hotel_star{
  margin-top: 30px;
}

.sec_filter .wrap_hotel_star .tlt_hotel_star{
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  font-size: 17px;
  font-weight: 500;
}

.sec_filter .wrap_hotel_star .txt_hotel_star{
  width: 100%;
  color: #666666;
  font-size: 13px;
  font-weight: 500;
}

.sec_filter .wrap_hotel_star .txt_display{
  display: none;
}

.sec_filter .wrap_hotel_star .wrap_star{
  display: flex;
  margin-top: 15px;
}

.sec_filter .wrap_hotel_star .wrap_star>i.fa-solid{
  position: relative;
  color: #48A0FF;
  font-size: 39px;
  cursor: pointer;
}

.sec_filter .wrap_hotel_star .wrap_star>i.fa-disabled{
  position: relative;
  color: #BBBBBB;
  font-size: 39px;
}

.sec_filter .wrap_hotel_star .wrap_star > i > span{
  position: absolute;
  display: block;
  top: 0;
  width: 44px;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

/* 검색 결과 */
.sec_result{
  width: 1010px;
  margin-top: 60px;
}

.sec_result .wrap_result_title{
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 24px;
}

.sec_result .wrap_result_title .result_count{
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

.sec_result .wrap_result_title .result_sub_text{
  color: #999999;
  font-size: 14px;
  font-weight: 300;
}

.sec_result .wrap_result_title .result_filter{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.sec_result .wrap_result_title .result_filter .result_filter_open{
  width: 210px;
  height: 50px;
  padding: 15px;
  border: 1px solid #DDDDDD;
  background-color: #FFFFFF;
  text-align: left;
  cursor: pointer;
}

.sec_result .wrap_result_title .result_filter .result_filter_open > span{
  font-size: 16px;
  font-weight: 400;
}

.sec_result .wrap_result_title .result_filter .result_filter_open > i{
  font-size: 16px;
  float: right;
}

.sec_result .wrap_result_title .result_filter .result_filter_select{
  display: none;
  width: 210px;
  border: 1px solid #DDDDDD;
  border-top: 0;
}

.sec_result .wrap_result_title .result_filter .result_filter_select .result_filter_option{
  width: 208px;
  height: 38px;
  padding: 0px 15px;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 38px;
}

.sec_result .wrap_result_list{
  display: flex;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  background-color: #FFFFFF;
  overflow: hidden;
}

.sec_result .wrap_result_list .wrap_result_img{
  width: 330px;
  height: 200px;
  overflow: hidden;
  text-align: center;
}

.sec_result .wrap_result_list .wrap_result_img img{
  width: 100%;
}

.sec_result .wrap_result_list .wrap_result_hotel_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.sec_result .wrap_result_list .wrap_result_hotel_info .txt_result_name{
  font-size: 22px;
  font-weight: 500;
}

.sec_result .wrap_result_list .wrap_result_hotel_info .txt_result_adrs{
  color:#AAAAAA;
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
}

.sec_result .wrap_result_list .wrap_result_hotel_info .txt_result_review{
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.sec_result .wrap_result_list .wrap_result_hotel_info .txt_result_review i{
  font-size: 18px;
}

.sec_result .wrap_result_list .wrap_result_hotel_info .txt_result_review_count{
  color: #999999;
  font-size: 18px;
  font-weight: 500;
}

.sec_result .wrap_result_list .wrap_result_hotel_info .txt_result_price{
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
}

/* 항공 리스트 */
.div_flight_list_search .wrap_flight_div .wrap_search_input{
  display: flex;
}

.div_flight_list_search .wrap_flight_div .wrap_search_input input{
  height: 63px;
  padding: 15px 20px;
  border: 0;
  border-radius: 10px;
  background-color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  outline: none;
}

.div_flight_list_search .wrap_flight_div .wrap_search_input button{
  padding: 15px 9px;
  border: none;
  background-color: #FFFFFF;
}

.div_flight_list_search .wrap_flight_div .wrap_search_input button>i{
  color: #444444;
  font-size: 14px;
}

.div_flight_list_search .wrap_flight_div .wrap_search_input input.txt_placeholder{
  color: #CCCCCC;
}

.div_flight_list_search .wrap_flight_div .wrap_search_input input#flightStartSearchBtn{
  width: 300px;
  padding: 15px 10px 15px 40px;
  border-radius: 10px 0 0 10px;
}

.div_flight_list_search .wrap_flight_div .wrap_search_input input#flightEndSearchBtn{
  width: 300px;
  margin-right: 10px;
  padding: 15px 20px 15px 15px;
  border-radius: 0 10px 10px 0;
}

.div_flight_list_search .wrap_flight_div .wrap_search_input input#flightDatepicker{
  width: 290px;
  text-align: center;
  margin-right: 10px;
}

.div_flight_list_search .wrap_flight_div .wrap_search_input input#flightPersonCount{
  width: 220px;
  text-align: center;
  margin-right: 10px;
}

.div_flight_list_search .wrap_flight_div .wrap_search_input input.btn_search_flight{
  background-color: #FBDB03;
  font-size: 20px;
  font-weight: 600;
}

.div_flight_list_search .wrap_flight_div .popup_person{
  margin-left: 940px;
  height: 473px;
}

.div_flight_list_search .wrap_flight_div .popup_person .popup_person_radio{
  margin-top: 26px;
  border-top: 1px solid #CCCCCC;
}

.div_flight_list_search .wrap_flight_div .popup_person .popup_person_radio input[type=radio]{
  display: none;
}

.div_flight_list_search .wrap_flight_div .popup_person .popup_person_radio label{
  display: inline-block;
  width: 159px;
  padding: 16px 0 0;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}

.div_flight_list_search .wrap_flight_div .popup_person .popup_person_radio label>i{
  display: inline-block;
  width: 24px;
  color: #48A0FF;
  font-size: 20px;
}

.wrap_end_time{
  margin-top: 20px;
}

.wrap_start_time .tlt_start_time,
.wrap_end_time .tlt_end_time{
  display: inline-block;
  width: 100%;
  margin: 0px 0 10px;
  padding: 0px 0 10px;
  border: none;
  background: none;
  font-size: 17px;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
}

.wrap_start_time .tlt_start_time>i,
.wrap_end_time .tlt_end_time>i{
  float: right;
  font-size: 16px;
}

.wrap_start_time .toggle_filter{
  margin-bottom: 30px;
}

.wrap_end_time .toggle_filter2{
  display: none;
}

.wrap_start_time .txt_time_label,
.wrap_end_time .txt_time_label{
  width: 100%;
  color: #666666;
  font-size: 13px;
  font-weight: 500;
}

.wrap_start_time .wrap_time_picker,
.wrap_end_time .wrap_time_picker{
  margin-top:14px;
}

.wrap_start_time .txt_time_picker,
.wrap_end_time .txt_time_picker{
  width: 100%;
  margin-bottom: 14px;
}

.wrap_start_time .txt_time_picker>i,
.wrap_end_time .txt_time_picker>i{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #EEEEEE;
  background-color: #FFFFFF;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}

.wrap_start_time .txt_time_picker>i.fa-active,
.wrap_end_time .txt_time_picker>i.fa-active{
  border: 1px solid #48A0FF;
  background-color: #48A0FF;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}

.wrap_start_time .txt_time_picker>span,
.wrap_end_time .txt_time_picker>span{
  color: #444444;
  font-size: 16px;
  cursor: pointer;
}

/*result data*/
.wrap_result_flight_list{
  display: flex;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  background-color: #FFFFFF;
  overflow: hidden;
  padding: 32px 40px;
  flex-direction: row;
  justify-content: space-between;
}

.wrap_flight_info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrap_result_flight_info{
  display: flex;
}

.wrap_result_flight_info>img{
  width: 40px;
  height: 40px;
}

.wrap_result_flight_info .airline_name{
  display: inline-block;
  width: 90px;
  margin-left: 15px;
  font-size: 16px;
  line-height: 40px;
}

.wrap_result_flight_info .div_flight_time{
  display: flex;
  width: 460px;
  height: 50px;
  justify-content: space-around;
}

.wrap_result_flight_info .div_flight_time td{
  width: 140px;
}

.wrap_result_flight_info .div_flight_time td:first-child{
  text-align: right;
}

.wrap_result_flight_info .div_flight_time td:nth-child(2){
  text-align: center;
}

.wrap_result_flight_info .div_flight_time .start_time,
.wrap_result_flight_info .div_flight_time .end_time{
  font-size: 20px;
  font-weight: 500;
}

.wrap_result_flight_info .div_flight_time img{
  width: 88px;
}

.wrap_result_flight_info .div_flight_time .start_airport,
.wrap_result_flight_info .div_flight_time .taken_time,
.wrap_result_flight_info .div_flight_time .end_airport{
  font-size: 14px;
  font-weight: 200;
}

.wrap_flight_price_btn{
  width: 270px;
  height: 85px;
  padding: 15px 20px;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
}

.wrap_flight_price_btn .txt_flight_count{
  display: block;
  margin-bottom: 4px;
  color: #E65454;
  font-size: 16px;
  font-weight: 300;
}

.wrap_flight_price_btn .txt_flight_price{
  font-size: 28px;
  font-weight: 600;
}

.wrap_flight_price_btn .txt_flight_price>span{
  font-size: 18px;
  font-weight: 300;
}

.wrap_flight_price_btn .txt_flight_select{
  float: right;
  color: #666666;
  font-size: 14px;
  font-weight: 300;
  line-height: 41px;
}

.wrap_flight_price_btn i.fa-solid{
  color: #666666;
  font-size: 11px;
}

.toggle_flight_info{
  float: right;
  margin-top: 24px;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.toggle_flight_info>i{
  font-size: 16px;
}

.wrap_result_flight_detail{
  display: none;
  width:100%;
  background-color: #FFFFFF;
}

.wrap_result_flight_detail .wrap_flight_title{
  width:100%;
  height: 55px;
  padding: 0px 40px;
  border: 1px solid #DDDDDD;
  border-top: 0;
  background-color: #FBFBFC;
}

.wrap_result_flight_detail .wrap_flight_title .flight_label{
  float: left;
  margin-top: 12px;
  padding: 6px 8px;
  border-radius: 5px;
  background-color:#3C91EB;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
}

.wrap_result_flight_detail .wrap_flight_title .flight_location{
  display: inline-block;
  margin: 16px 10px 16px;
  font-size: 18px;
  font-weight: 300;
}

.wrap_result_flight_detail .wrap_flight_title > img{
  display: inline-block;
  width: 22px;
  margin-bottom: 4px;
}

.wrap_result_flight_detail .wrap_flight_title .flight_time{
  float: right;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 300;
}

.wrap_flight_time{
  display: flex;
  padding: 30px 40px;
  width: 100%;
  height: 170px;
  border: 1px solid #DDDDDD;
  border-top: 0;
}

.wrap_flight_time .flight_no{
  margin-right: 166px;
  font-size: 16px;
  font-weight: 300;
}

.wrap_flight_time .flight_time_info{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrap_flight_time .flight_time_info > img{
  width: 12px;
  margin-right: 13px;
}

.wrap_flight_time .flight_time_info .wrap_flight_detail{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.wrap_flight_time .flight_time_info .flight_detail_time{
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
}

.wrap_flight_time .flight_time_info .flight_detail_loca{
  margin-right: 20px;
  font-size: 16px;
  font-weight: 200;
}

.wrap_flight_time .flight_time_info .flight_detail_etc{
  color: #BBBBBB;
  font-size: 14px;
  font-weight: 200;
}

.wrap_detail_price{
  width: 100%;
  height: 254px;
  padding: 30px 40px;
  border: 1px solid #DDDDDD;
  border-top: 0;
  border-radius: 0 0 5px 5px;
}

.wrap_detail_price .tlt_detail_price{
  font-size: 20px;
  font-weight: 300;
}

.wrap_detail_price .table_detail_price{
  width: 100%;
  margin-top: 10px;
  border-spacing: 0;
}

.wrap_detail_price .table_detail_price tr th{
  padding: 18px 0;
  border-bottom: 1px solid #DDDDDD;
  color: #444444;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
}

.wrap_detail_price .table_detail_price tr td{
  padding: 18px 0;
  border-bottom: 1px solid #DDDDDD;
  font-size: 16px;
  font-weight: 500;
}

.wrap_detail_price .table_detail_price tr th:last-child,
.wrap_detail_price .table_detail_price tr td:last-child{
  text-align: right;
}

.wrap_detail_price .wrap_total_price{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.wrap_detail_price .wrap_total_price .tlt_total_price{
  font-size: 20px;
  font-weight: 600;
}

.wrap_detail_price .wrap_total_price .div_total_price{
  display: inline-block;
}

.wrap_detail_price .wrap_total_price .total_price{
  font-size: 28px;
  font-weight: 600;
}

.wrap_detail_price .wrap_total_price .total_won{
  font-size: 18px;
  font-weight: 400;
}

.b_rb_lb_none{
  border-radius: 5px 5px 0 0;
}

/* 페이지 이동 커서 */
.txt_flight_select{
  cursor: pointer;
}

.wrap_result_hotel_info{
  cursor: pointer;
}

/* 탑 버튼 */
.btn_top {
  float: right;
  position: fixed;
  width: 60px;
  height: 60px;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
}
