/* section - mypage_update_password */

.section .wrap{
    display: flex;
    justify-content: center;
    /* margin-top:86px; */
} 

/* 비밀번호 인증 박스 */
.wrap .div_update_password_panel{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid #DDDDDD; */
    padding-top: 86px;
    padding-bottom: 186px;
}

/* title 공통 */
.wrap .div_update_password_title{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

/* title_main */
.section .div_update_password_title .title_main{
    color: #222222;
    font-size:28px;
}

.section .div_update_password_panel .div_update_notice{
    padding: 16px;
    margin-bottom: 30px;
    width: 350px;
    border: 1px solid #DDDDDD;
    background-color: #F2F2F2;
}

.div_update_password_panel .div_update_notice .div_update_notice_title{
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 8px;
}

.div_update_password_panel .div_update_notice .div_update_notice_text{
    color: #999999;
    font-size: 13px;
    line-height: 1.6;
}

/* 비밀번호 본인인증 상자 */
.section .div_update_password_panel .div_update_password_field{
    display: flex;
    flex-direction: column;
    border: 1px solid #DDDDDD;
    width: 580px;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;
}

/* 비밀번호 입력 상자 위 텍스트 - 비밀번호 */
.section .div_update_password .text_update_password,
.section .div_check_password .text_check_password{
    text-align: left;
    font-size: 14px;
    color: #222222;
}

.section .div_update_password{
    padding-bottom: 30px;
}

/* 비밀번호 불일치 시 출력 텍스트 - 비밀번호가 일치하지 않습니다 */
.section .div_update_password .error_update_password1 p,
.section .div_update_password .error_update_password2 p,
.section .div_check_password .error_check_password p{
    font-size: 12px;
    margin-top: 5px;
    color: #E65454;
}

/* 비밀번호 입력 상자 */
.section .div_update_password input,
.section .div_check_password input{
    height: 50px;
    width: 350px;
    font-size: 16px;
    margin-top: 7px;
    border: 1px solid #DDDDDD;
    text-indent: 16px;
}

/* 비밀번호 입력 상자 placeholder */
.section .div_update_password input::placeholder,
.section .div_check_password input::placeholder{
    color:#BBBBBB;
}

/* 비밀번호 인증 버튼 div */
.section .div_update_password_button,
.section .div_check_password_button{
    display: flex;
    justify-content: center;    
    width: 350px;
    margin-top: 26px;
}

/* 비밀번호 인증 버튼 */
.section .div_update_password_button button{
    width: 350px;
    height: 50px;
    font-size: 16px;
    color: #FFFFFF;
    border: 0px;
    background-color: #48A0FF;
    cursor: pointer;
}