/* 아이콘 색상 */
.gray {
    color: #AAAAAA;
}

.disable {
    color: #DDDDDD;
}

.txt_red {
    color: #E65454;
}

section {
    display: flex;
    justify-content: space-between;
    width: 1320px;
    margin: 0 auto;
    padding: 64px 20px 0;
}

.detail_contents {
    width: 880px;
}

.car_detail {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DDDDDD;
}

.car_detail_text div:nth-child(1) {
    font-size: 40px;
    font-weight: bold;
}

.car_detail_text div:nth-child(2) {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.car_detail_text div:nth-child(2) i {
    margin-left: 5px;
    cursor: pointer;
}

.car_detail_text div:nth-child(3) {
    margin-top: 90px;
}

.car_detail_img img {
    width: 400px;
}

.quantity_left {
    padding: 30px 0;
    border-bottom: 1px solid #DDDDDD;
    font-size: 22px;
    font-weight: bold;
}

.quantity_left span i {
    margin-right: 10px;
}

#quantity_left_txt {
    margin-left: 0;
}

.cancel_time {
    padding: 30px 0 27px;
    border-bottom: 1px solid #DDDDDD;
    font-size: 22px;
}

.cancel_time i {
    margin-right: 15px;
}

.car_option {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 31px;
    padding: 30px 0;
    border-bottom: 1px solid #DDDDDD;    
}

.car_option div {
    font-size: 22px;
}

.car_option div i {
    margin-right: 15px;
    font-size: 22.85px;
}

.car_option div:nth-child(2) i {
    margin-right: 14px;
    padding-left: 2px;
    font-size: 20px;
}

.car_option div:nth-child(4) i {
    margin-right: 20px;
    padding-left: 2px;
    font-size: 22.85px;
}

.car_option div:nth-child(7) i {
    margin-right: 15px;
    font-size: 20px;
}

.agency_info {
    padding: 30px 0 40px;
}

.agency_info_name {
    font-size: 24px;
    font-weight: bold;
}

.agency_info_option {
    display: flex;
    margin: 10px 0 26px;
}

.agency_info_option div {
    margin-right: 10px;
    padding: 5px 7px;
    border-radius: 5px;
    font-weight: 600;
    background-color: #EEEEEE;
    color: #666666;
}

.agency_info_detail {
    display: flex;
    height: 195px;
}

.agency_info_detail div:nth-child(1) {
    width: 350px;
    margin-right: 90px;
    line-height: 24px;
}

.agency_info_extra div:first-child {
    display: flex;
    height: 43px;
    margin-bottom: 20px;
}

.agency_info_extra div div:nth-child(1) {
    width: 20px;
    margin: 0;
    margin-right: 15px;
}

.agency_info_extra div div:nth-child(1) i {
    font-size: 22.85px;
}

.agency_info_extra div div:nth-child(2) {
    line-height: 24px;
}

.agency_info_extra div:nth-child(2) i {
    margin-right: 15px;
    font-size: 20px;
}

.agency_info_extra div:nth-child(3) {
    margin: 22px 0 21px;
}

.agency_info_extra div:nth-child(3) i {
    margin-right: 18px;
    padding-left: 2px;
    font-size: 20px;
}

.agency_info_extra div:nth-child(4) i {
    margin-right: 15px;
    font-size: 20px;
}

/* .agency_map {
    padding-bottom: 30px;
} */

#map {
    width: 880px;
    height: 430px;
}

.agency_map div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

.agency_address {
    padding-top: 20px;
}

#agency_address_text {
    font-size: 20px;
}

.agency_address span:nth-child(2) i{
    margin-left: 10px;
    cursor: pointer;
}

.btn_kakaomap {
    display: flex;
    width: 120px;
    height: 44px;
    line-height: 24px;
    margin: 10px 0 20px;
    padding: 10px 15px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.btn_kakaomap i {
    margin-right: 5px;
    padding: 1.5px;
    font-size: 18px;
    color: #48A0FF;
}

.agency_policy {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 36px;
    border: 1px solid #DDDDDD;
    border-right: none;
    border-left: none;
}

.agency_policy_text {
    width: 240px;
    font-size: 22px;
    font-weight: bold;
}

.agency_policy div:nth-child(2) {
    width: 640px;
}

.agency_policy_first {
    line-height: 28px;
    font-size: 18px;
}

.agency_policy_second {
    display: none;
    line-height: 28px;
    font-size: 18px;
}

.btn_expand {
    width: 95px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.btn_expand i {
    margin-left: 15px;
}

.agency_policy_exception {
    height: 58px;
    margin-top: 26px;
    padding: 20px 0 20px 20px;
    border: 1px solid #DDDDDD;
    background-color: #F2F2F2;
    font-size: 15px;
    color: #999999;
}

.refund_policy {
    display: flex;
    padding-top: 30px;
}

.refund_policy div:nth-child(1) {
    width: 240px;
    font-size: 22px;
    font-weight: bold;
}

.refund_policy div:nth-child(2) {
    width: 640px;
    line-height: 28px;
    font-size: 18px;
}

/* 스토커 박스 */
.detail_stalker {
    width: 340px;
    height: 164px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin-left: 60px;
    padding: 24px 20px 20px 20px;
    align-self: flex-start;
    top: 64px;
    position: sticky;
}

.stalker_text div:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
}

.stalker_text div:nth-child(2) {
    margin-top: 5px;
    font-size: 14px;
}

.btn_choice {
    width: 300px;
    height: 54px;
    margin-top: 20px;
    background-color: #48A0FF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
}

/* 복사 시 팝업 박스 */
#copy_box {
    display: none;
    width: 430px;
    position: fixed;
    top: 32px;
    left: 38.8%;
    padding: 14px 16px 16px 14px;
    background-color: #666666;
    box-shadow: #999999 0px 4px 8px 0px;
    color: #EEEEEE;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    z-index: 2;
}

/* 탑 버튼 */
.btn_top {
    float: right;
    position: fixed;
    width: 60px;
    height: 60px;
    right: 40px;
    bottom: 40px;
    cursor: pointer;
}